In [1]:
import pandas as pd

In [2]:
data = pd.read_csv("spam.csv")

In [3]:
data.head(5)

,v1,v2,Unnamed: 2,Unnamed: 3,Unnamed: 4
0,ham,"Go until jurong point, crazy.. Available only ...",NaN,NaN,NaN
1,ham,Ok lar... Joking wif u oni...,NaN,NaN,NaN
2,spam,Free entry in 2 a wkly comp to win FA Cup fina...,NaN,NaN,NaN
3,ham,U dun say so early hor... U c already then say...,NaN,NaN,NaN
4,ham,"Nah I don't think he goes to usf, he lives aro...",NaN,NaN,NaN

In [4]:
data.columns

Index(['v1', 'v2', 'Unnamed: 2', 'Unnamed: 3', 'Unnamed: 4'], dtype='object')

In [5]:
data.drop(['Unnamed: 2', 'Unnamed: 3', 'Unnamed: 4'], axis =1, inplace = True)

In [6]:
data.head()

     v1                                                 v2
0   ham  Go until jurong point, crazy.. Available only ...
1   ham                      Ok lar... Joking wif u oni...
2  spam  Free entry in 2 a wkly comp to win FA Cup fina...
3   ham  U dun say so early hor... U c already then say...
4   ham  Nah I don't think he goes to usf, he lives aro...

In [7]:
data = data.rename({'v1': 'class', 'v2': 'message'}, axis=1)  # new method

In [8]:
data.head()

  class                                            message
0   ham  Go until jurong point, crazy.. Available only ...
1   ham                      Ok lar... Joking wif u oni...
2  spam  Free entry in 2 a wkly comp to win FA Cup fina...
3   ham  U dun say so early hor... U c already then say...
4   ham  Nah I don't think he goes to usf, he lives aro...

In [9]:
data['class'] = data['class'].map({'ham':0, 'spam':1})

In [10]:
data.head()

   class                                            message
0      0  Go until jurong point, crazy.. Available only ...
1      0                      Ok lar... Joking wif u oni...
2      1  Free entry in 2 a wkly comp to win FA Cup fina...
3      0  U dun say so early hor... U c already then say...
4      0  Nah I don't think he goes to usf, he lives aro...

In [11]:
from sklearn.feature_extraction.text import CountVectorizer

In [12]:
cv = CountVectorizer()

In [13]:
x=data['message']
y=data['class']

In [14]:
x.shape
y.shape

(5572,)

In [15]:
x= cv.fit_transform(x)

In [16]:
x

<5572x8625 sparse matrix of type '<class 'numpy.int64'>'
	with 73734 stored elements in Compressed Sparse Row format>

In [17]:
from sklearn.model_selection import train_test_split

In [18]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2)

In [19]:
x_train.shape

(4457, 8625)

In [20]:
from sklearn.naive_bayes import MultinomialNB

In [21]:
model=MultinomialNB()

In [22]:
model.fit(x_train, y_train)

MultinomialNB()

In [23]:
result = model.score(x_test, y_test)

In [24]:
result = result*100

In [25]:
result

98.83408071748879

In [26]:
import pickle

In [27]:
pickle.dump(model, open("spam.pkl","wb"))
pickle.dump(cv, open("vectorizer.pkl","wb"))

In [28]:
clf = pickle.load(open("spam.pkl","rb"))

In [29]:
clf

MultinomialNB()

In [30]:
msg="You can win 100 Dollar"
data=[msg]
vect=cv.transform(data).toarray()
result=model.predict(vect)
print(result)

[1]

In [32]:
msg="hello hi"
data=[msg]
vect=cv.transform(data).toarray()
result=model.predict(vect)
print(result)

[0]